@charset "UTF-8";
@import url(./font.css);
@import url(./interval.css);
@import url(./layout.css);
@import url(./page.css);
@import url(./reset.css);
@import url(./login.css);
@import url(./etc.css);

:root {
  --font-size: 14px;

  --appl-color: #000000;
  --appl-color-sub: #f8fff1;
  --appl-color-point: #04e000;
  --appl-color-success: #04e000;
  --appl-color-error: #c44b4b;
}

.d-inline-block {
  display: inline-block;
}

.p-relative {
  position: relative;
}

.top5 {
  top: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 0 0%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.dis-no {
  display: none !important;
}